*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: burlywood;
    margin: 0 auto;
    width: 1200px;
}
header
{
    height: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: pink;
   
}
nav
{
    height: 50px;
    background-color: yellowgreen;

}
div
{
     min-height: 900px;
    overflow: hidden;
}
aside
{
    min-height: 900px;
    background-color: rgb(172, 119, 163);
    width: 295px;
    float: left;
    padding-left: 5px;
}
main
{
    min-height: 900px;
    background-color: white;
    width: 890px;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}
footer
{
    height: 100px;
    background-color: yellowgreen;
}