table
{
	border-collapse:collapse;
	/*width:100%;*/
	width: 800px;
	margin: 10px;
}
tr
{
	height:5rem;
}
td,th
{
	border:2px solid black;
}
th
{
	font-size:large;
	background-color:gray;
	color:white;
}
td
{
	font-size:medium;	
	text-align:center;
}